@model MiniEcommerMVC.Models.ViewModels.LoginVM;


<h2>Login Page</h2>

<form asp-action="Login" method="post">
  @Html.AntiForgeryToken()
  

      <input type="email" name="Email" placeholder="Email"/>
      <input type="password" name="Password" placeholder="Password"/>
      <button type="submit">Login</button>
</form>

